<%- include('./partials/head'); %> 
<%- include('./partials/header'); %> 

<main class="container">
  <section class="mt-3" id="recipes">
    <h1>Receitas</h1>
    <p>Confira abaixo as receitas recebidas</p>

    <form action="/recipes" method="GET">
      <div class="row mb-4">
        <div class="col">
          <input type="text" name="word" value="<%= word %>" class="form-control" placeholder="Pesquisar...">
        </div>
        <div class="pr-3">
          <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
      </div>
    </form>
    
    <% if(typeof deleted !== 'undefined'){ %> 
      <div class="col-md-12 alert alert-success">
        Receita excluída com sucesso
      </div>
    <% } %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Mensagem</th>
          <th scope="col" colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>  
        <% recipes.forEach(recipe => { %>         
          <tr>
            <th scope="row"><%= recipe.id %> </th>
            <td><%= recipe.name %> </td>
            <td><%= recipe.email %> </td>
            <td><%= recipe.message %> </td>  
            <td>
              <a href="/recipes/edit/<%= recipe.id %>">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="#" data-bs-toggle="modal" data-bs-target="#modal-<%= recipe.id %>">
                <i class="fas fa-trash"></i>
              </a>
              <!-- Modal -->
              <div class="modal fade" id="modal-<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Exclusão de Receita</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente excluir a receita de <%= recipe.name %> ? <br><br>
                      <%= recipe.message %>  
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <a href="/recipes/delete/<%= recipe.id %>">
                        <button type="button" class="btn btn-danger">Confirmar</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <!-- paginacao  -->
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <% 
            let wordHref = ''
            if(word !== ''){
              wordHref = 'word=' + word + '&'
            }

            let hrefPrevious = ''
            if(page > 1){
              hrefPrevious = '/recipes?' + wordHref + 'page=' + (page - 1)
            }
          %> 
          <a class="page-link" href="<%= hrefPrevious %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <% 
            let hrefNext = ''
            if(totalPages > page){
              hrefNext = '/recipes?' + wordHref + 'page=' + (page + 1)
            }
          %> 
          <a class="page-link" href="<%= hrefNext %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>

<%- include('./partials/footer'); %> 
</body>
</html>

